<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.fnordeingang.fnordapp"
          android:versionCode="18" android:versionName="Beta 0.18" android:installLocation="auto">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    <activity android:name="de.fnordeingang.fnordapp.fNordeingangActivity"
              android:label="@string/app_name"
              android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name="de.fnordeingang.fnordapp.fNordTweetActivity"/>
    <activity android:name="de.fnordeingang.fnordapp.fNordSettingsActivity"/>
    <activity android:name="de.fnordeingang.fnordapp.fNordCashActivity"/>
    <activity android:name="de.fnordeingang.fnordapp.fNordCashAccountActivity"/>
    <activity android:name="de.fnordeingang.fnordapp.fNordCashShoppingActivity"/>
    <activity android:name="de.fnordeingang.fnordapp.fNordCashShopcartActivity"/>
    <uses-library android:name="android.test.runner" />
  </application>
  <uses-sdk android:minSdkVersion="3" />

  <instrumentation android:name="android.test.InstrumentationTestRunner"
         android:targetPackage="de.fnordeingang.fnordapp" android:label="Tests for fNordApp" />
</manifest>
